<% if user_signed_in? %>
    <% @all_lists.each do |to_do_list| %>
        <h2><%= link_to to_do_list.title, to_do_list %></h2>
        <p><%= to_do_list.description %></p>
    <% end %>

    <%= link_to "New list", new_to_do_list_path %>
<% end %>