<div class="col-md-6 col-md-offset-3">

  <div class="row">
    <h1 style="margin-bottom: 21px"><%= @to_do_list.title %></h1>
  </div>

  <div class="row">
    <ul id="share-list" class="list-group">

      <% @items.each do |item| %>
          <li id="<%= item.id %>" class="list-group-item">
            <p><%= item.content %></p>
          </li>
      <% end %>

    </ul>
  </div>

  <input id="list-id" value="<%= @to_do_list.id %>" hidden>

</div>