<% @all_items.each do |item| %>
    <h4><%= item.content %></h4>
    <%= link_to "Delete", to_do_list_item_path(@to_do_list, item), method: :delete,
                data: {confirm: "Are you sure you want to delete this item?"} %>
<% end %>